@font-face {
  font-family: "iconfont"; /* Project id 2522994 */
  src: url('iconfont.woff2?t=1619777334912') format('woff2'),
       url('iconfont.woff?t=1619777334912') format('woff'),
       url('iconfont.ttf?t=1619777334912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-tuandui-copy:before {
  content: "\e68d";
}

